.container {
  max-width: 1200px;
  width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.solid-btn {
  display: block;
  width: 130px;
  padding: 10px 0;
  text-align: center;
  background: black;
  color: white;
}

header {
  height: 100px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.3);
  position: relative;

  img {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  a {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
}
